.information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 150px;
}

.informationHeader {
  display: flex;
  width: 100%;
}

input {
  width: 50%;
}
.descriptionText {
  width: 98%;
  height: 125px;
}
