.header {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.body {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
}
.midSection {
  display: flex;
  justify-content: center;
}
