.imagePickerContainer {
  width: 150px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagePickerTitle {
  display: flex;
  font-size: 20px;
}
.chooseFile {
  font-size: 10px;
  width: 150px;
}
